<%
    if(global.votes.max > 0) {
        percentage = Math.ceil((votes * 100) / global.votes.max)
    } else {
        percentage = 0
    }

    width = percentage > 0 ? percentage : 100
%>
<%  %>

<div class="progress <% if (percentage < 1) { %>process-muted<% } %>">
    <div class="bar meal-votes" style="width: <%= width %>%">
        <% if(votes > 0) { %>
    	<%= votes %> Vote<%= votes > 1 ? 's' : '' %>
        <% } else { %>
            not voted
        <% } %>
    </div>
</div>